@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
}

body{
  background-color: #fff3f3;
  color: black;
  font-family: 'Montserrat', sans-serif;
}


.header-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 2vh;
}

.header-navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header-navbar a:hover{
  color: #ff2981;
  transition: 0.5s;
}

.header-father{
  justify-content: center;
  margin-top: 15vh;
}

.header-father img{
  width: 40%;
  margin-top: -80px;
}

.header-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-content h2{
  font-size: 50px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.header-props span{
  color: #ff2981;
}

.header-content p {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 400;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  color: white;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 50%;
  border-radius: 15px;
  gap: 1rem;
}

.button-header a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header-section{
  text-align: center;
}

.slide-item{
  
}

.post-content{
 display: flex;
 flex-direction: row;
 padding-left: 10%;
 padding-right: 10%;
 gap: 50px;
 margin-top: 10vh;
}

.card-post-one .card-post-two .card-post-three{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-post-one {
  
  width: 50%;
}

.card-post-two {
  
  width: 50%;
}

.card-post-three {
  
  width: 50%;
}

.card-post-one h1 {
  font-size: 20px;
}

.card-post-two h1 {
  font-size: 20px;
}

.card-post-three h1 {
  font-size: 20px;
}

.card-post-one img{
  border-radius: 10px;
}

.card-post-two img{
  border-radius: 10px;
}

.card-post-three img{
  border-radius: 10px;
}

.post-content-two{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  gap: 50px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.carousel{
  margin-top: -8vh;
}

.swiper{
  padding: 30px;
}

.swiper-slide{
  display: flex;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #ff2981;
  font-weight: bolder !important;
  --swiper-navigation-sides-offset: 350px;
  --swiper-navigation-size: 50px;
}

.swiper-pagination-bullet{
  --swiper-pagination-bullet-inactive-color:#000000;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-color: #ff2981;
 
}

.slide-item img{
  border-radius: 25px;
  width: 40%;
 
}

.slide-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  gap: 10px;
}

.slide-item h1{
  font-size: 30px;
  font-weight: 500;
}

.slide-item p {
  font-weight: 500;
  font-size: 18px;
}

.slide-item a {
  text-decoration: none;
  color: white;
  background-color: #ff2981;
  padding: 15px;
  border-radius: 10px;
}

.slide-item a:hover{
  background-color: #da2570;
  transition: 1s;
}